<div class="jumbotron">
    <h1>Temperature Converter</h1>
    <p class="lead">Convert temperature degrees from Fahrenheit to Celsius and from Celsius to Fahrenheit.</p>
</div>

<div class="row">
    <div class="col-md-offset-1 col-md-4">
        <h2>Fahrenheit to Celsius</h2>
        <p>Convert temperature degrees from Fahrenheit to Celsius.</p>
        <p><a class="btn btn-default" href="#/temperature/fahrenheit-to-celsius">Fahrenheit to Celsius</a></p>
    </div>
    <div class="col-md-offset-1 col-md-4">
        <h2>Celsius to Fahrenheit</h2>
        <p>Convert temperature degrees from Fahrenheit to Celsius.</p>
        <p><a class="btn btn-default" href="#/temperature/celsius-to-fahrenheit">Celsius to Fahrenheit</a></p>
    </div>
</div>